.cart-page-container {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

.cart-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #007BCD;
  height: 97px;
}

div.center {
  margin: 0 auto;
}

.bimini-name-cart {
  color: #FFF7F7;
  display: inline-block;
  font-family: 'Syncopate';
  font-size: 32px;
  font-style: normal;
  font-weight: 300;
  line-height: 100%;
  margin: 0 auto 0 25px;
  opacity: 1.00;
  text-shadow: 0 4px 4px rgba(0, 0, 0, .25);
}

.cart-name {
  color: #FFF;
  display: inline-block;
  font-family: 'Rosario';
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  line-height: 100%;
  margin: 0 auto 0 5px;
  opacity: 1.00;
}

.mid-section-cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cart-image {
  display: flex;
  /*align-items: center;*/
  /*position: relative;*/
  height: 474px;
  opacity: .7;
}

.opaque-box-cart {
  display: flex;
  position: absolute;
  align-items: center;
  align-self: center;
  background: rgba(1, 1, 1, 0.72);
  opacity: 1.00;
  border-radius: 10px;
  height: 17rem;
  width: 30rem;
}

.product-cart {
  display: flex;
  flex-direction: column;
  line-height: 3.5rem;
}

.product-item-cart {
  list-style: none;
  font-size: 28px;
  color: white;
}

.total-cart {
  border-top: 2px solid black;
  list-style: none;
  font-size: 32px;
}

footer {
  background-color: #007BCD;
  height: 101px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.phone-number {
  margin: 0;
  margin-bottom: 2rem;
  color: #FFF7F7;
  font-size: 22px;
  font-family:'Rosario', sans-serif;
}

.button-class {
  display: flex;
  justify-content: space-around;
  background-color: #007BCD;
}
.button-cart {
  border: none;
  display: flex;
  margin-top: 1rem;
  height: 2rem;
  cursor: pointer;
  border-radius: 5px;
  font-size: 22px;
  background: rgba(255, 255, 255, 0.87);
}

@media (min-width: 1020px) {
  div.cart-header {
    height: 150px;
  }
  .bimini-name-cart {
    font-size: 86px;
  }
  .cart-name {
    font-size: 36px;
  }
}
