.cart-page-container {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

.cart-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #007BCD;
  height: 97px;
}

.bimini-name-cart {
  margin: 0;
  font-size: 32px;
  font-family:'Syncopate', sans-serif;
  color: #FFF7F7;
  text-shadow: 1px 1px 1px black;
}

.cart-name {
  margin: 0;
  margin-left: 1rem;
  color: #FFF7F7;
  font-family:'Rosario', sans-serif;
  font-size: 18px;
}

.mid-section-cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cart-image {
  display: flex;
  /*align-items: center;*/
  /*position: relative;*/
  height: 474px;
  opacity: .7;
}

.opaque-box-cart {
  display: flex;
  position: absolute;
  align-items: center;
  align-self: center;
  background: rgba(176, 176, 176, 0.49);
  opacity: 1.00;
  border-radius: 10px;
  height: 17rem;
  width: 18rem;
}

.product-cart {
  display: flex;
  flex-direction: column;
  line-height: 3.5rem;
}

.product-item-cart {
  list-style: none;
  font-size: 32px;
}

.total-cart {
  border-top: 2px solid black;
  list-style: none;
  font-size: 32px;
}

footer {
  background-color: #007BCD;
  height: 101px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.phone-number {
  margin: 0;
  margin-bottom: 2rem;
  color: #FFF7F7;
  font-size: 22px;
  font-family:'Rosario', sans-serif;
}

.button-class {
  display: flex;
  justify-content: space-around;
  background-color: #007BCD;
}
.button-cart {
  border: none;
  display: flex;
  margin-top: 1rem;
  height: 2rem;
  cursor: pointer;
  border-radius: 5px;
  font-size: 22px;
  background: rgba(255, 255, 255, 0.87);
}
